.fail-pill {
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  background:white;
  color:black;
  border-radius:3px;
  padding: 8rem 10rem;
  font-size:18rem;
  text-align: center;
}
