<!--removeIf(script)-->
<script type="text/javascript">
App.calendar= new Vue({
  template: '#template-calendar',
  data: {
    today:[],
    tomorrow:[],
    backgroundInterval: null
  },
  mounted: function() {
    this.userLoop();
    this.backgroundInterval = setInterval(function(){
      this.userLoop();
    }.bind(this),(1000*60)*10)

  },
  methods: {
    userLoop:function() {
      App.allUsers.forEach(function(e,i){
        if(e.calendarReady) {
          this.backgroundUpdate(e);
        }
      }.bind(this))
    },
    backgroundUpdate: function(user) {
      $.ajax({
        type: 'GET',

        url:App.homeURL+'/google-calendar/?id='+user.id,
        success: function(data){

          var items = data.items;
          var newToday = this.today.filter(function(e){
            return e.id !== user.id;
          });
          var newTomorrow = this.tomorrow.filter(function(e){
            return e.id !== user.id;
          })
          var today = new Date().getDate();
          var tomorrow = new Date().getDate()+1;
          items.forEach(function(e,i) {
            var item = {
             date: new Date(e.date),
             title: e.title,
             user: user,
             formatted: hoursFormatter(new Date(e.date)),
             allDay: e.allDay
            }

            if(item.date.getDate() === today) {
              newToday.push(item);
            }
            if(item.date.getDate() === tomorrow) {
             newTomorrow.push(item);
            }
          }.bind(this));
          function dateSort(a, b) {
              a =a.date;
              b = b.date;
              return a>b ? -1 : a<b ? 1 : 0;
          };
          newToday.sort(dateSort);
          newTomorrow.sort(dateSort);
          this.today = newToday;
          this.tomorrow = newTomorrow;
        }.bind(this)

      });

    }
  }
});


</script>
<!--endRemoveIf(script)-->
<div class="module calendar">
  <div class="today">
    <div v-for="item in today" class="item">
      {{item.title}}
      {{item.formatted.hours}}:{{item.formatted.minutes}} {{item.formatted.ampm}}
    </div>
  </div>
  <div class="tomorrow">
    <div v-for="item in tomorrow" class="item">
    Tomorrow:  {{item.title}}
    {{item.formatted.hours}}:{{item.formatted.minutes}} {{item.formatted.ampm}}
    </div>
  </div>
</div>
