<!--removeIf(script)-->
<script type="text/javascript">
App.calendar = new Vue({
  template: '#template-calendar',
  data: {
    today: [],
    tomorrow: [],
		upcoming: [],
		users: [],
    backgroundInterval: null
  },
  mounted: function mounted() {
		App.allUsers.forEach(function(e) {
			if(e.calendarReady) {
				this.users.push(e);
				this.backgroundUpdate(e);
			}
		});
    this.backgroundInterval = setInterval(function () {
      this.users.forEach(function(e) {
				this.backgroundUpdate(e);
			});
    }.bind(this), 1000 * 60 * 10);
  },
  methods: {
		dateEval(date) {
			var currentdate = new Date();
			currentdate.setHours(0,0,0,0);
			var morning = date.getTime();
			currentdate.setHours(23,59,59,999);
			var midnight = date.getTime();
			currentdate.setDate(date.getDate()+1);
			var tomorrowEnd = date.getTime();
			if(date < morning) {
				 return "old";
			}
			if(date <= midnight) {
				return "today";
			}
			if(date <= tomorrowEnd) {
				return "tomorrow";
			}
			if(date > tomorrowEnd) {
				return "upcoming";
			}
		},
		oldRemover(list) {
			return list.filter(function(item) {
				this.dateEval(item.date) !== "old";
			}.bind(this));
		},
		sectionMerge(item,list,interval) {
			//Remove Old Ones and filter to correct interval
			var newUser = item.users[0];
			var nList = list.filter(function(e) {
				return this.dateEval(e.date) === interval;
			}.bind(this));
			// new item isn't within interval, return filtered list
			if(this.dateEval(item.date) !== interval) {
				return nList;
			}
			//ID Match
			var match = nList.filter(function(e) {
				return item.id === e.id;
			})[0];
			//IF no match, add item and return
			if(!match) {
				return nList.push(item);
			}
			//Remove newUser and add back in
			var newUsers = match.users.filter(function(e){
				return e.id !== newUser.id;
			}).push(newUser);
			var newItem = item;
			newItem.users = newUsers;
			//Remove match and add back in
			return nList.filter(function(e) {
				return e.id !== newItem.id;
			}).push(newItem);
			
		},
		dateSort(a,b) {
			a = a.date;
			b = b.date;
			return a < b ? -1 : a > b ? 1 : 0;
		},
    backgroundUpdate: function backgroundUpdate(user) {
			this.today = this.oldRemover(this.today.slice()),
			this.tomorrow = this.oldRemover(this.tomorrow.slice()),
			this.upcoming = this.oldRemover(this.upcoming.slice())
      $.ajax({
        type: 'GET',
        url: App.homeURL + '/google-calendar/?id=' + user.id,
        success: function (data) {
					var items = data.items;
          items.forEach(function (e, i) {
						var jsDate = new Date(e.date),
								date = Date.getTime();
						if(this.dateEval(date) === "old") {
							return ;
						}
            var item = {
              date: date,
              title: e.title,
              users: [user],
              allDay: e.allDay,
			        id: e.id,
							parsedDate: this.dateParser(date)
            };
						["today","tomorrow","upcoming"].forEach(function(e) {
							this[e] = this.sectionMerge(item,this[e],e).sort(this.dateSort)
						}.bind(this));
						
						var ttl = this.today.concat(this.tomorrow).length;
						this.upcoming = (ttl >= 5) ? [] : this.upcoming.slice(0, (5 - ttl));
						
          }.bind(this));	
        }.bind(this)
      }.bind(this));
    },
		dateParser(date) {
			var interval = dateEval(date);
			var computeDate = new Date(date);
			if(interval == "today" || interval == "tomorrow") {
				var ampm = (computeDate.getHours() < 12) ? "AM" : "PM";
				var min = computeDate.getMinutes(),
						min = (min < 10) ? "0"+min : min;
				var hour = (computeDate.getHours() > 12) ? computeDate.getHours() - 12 : computeDate.getHours(),
						hour = (hour == 0)? 12 : hour;
				return hour+":"+min+ampm;
			}
			var today = new Date();
			var weekDiff = 1000 * 60 * 60 * 24 * 7;
			if(computeDate.getTime() - today.getTime()  <= weekDiff) {
				return this.dateName("week",computeDate.getDay());
			}
			return this.dateName('month', computeDate.getMonth())+" "+computeDate.getDate();
		},
		dateName(type, number) {
			if(type == "week" ) {
				switch (number) {
				case 0:
					return "Sun";
					break;
				case 1:
					return "Mon";
					break;
				case 2:
					return "Tue";
					break;
				case 3:
					return "Wed";
					break;
				case 4:
					return "Thu";
					break;
				case 5:
					return "Fri";
					break;
				case 6:
					return "Sat";
				}
			}
			
			if(type == "month" ) {
				switch (number) {
				case 0:
					return "Jan";
					break;
				case 1:
					return "Feb";
					break;
				case 2:
					return "Mar";
					break;
				case 3:
					return "Apr";
					break;
				case 4:
					return "May";
					break;
				case 5:
					return "Jun";
					break;
				case 6:
					return "Jul";
				case 7:
					return "Aug";
					break;
				case 8:
					return "Sep";
					break;
				case 9:
					return "Oct";
					break;
				case 10:
					return "Nov";
					break;
				case 11:
					return "Dec";
				}
			}
			
		}
  }
});
</script>
<!--endRemoveIf(script)-->
<div class="module calendar">
  <div class="today">
    <div class="nothing-to-do" v-if="today.length < 1">
      <div class="icon">
        <?php echo file_get_contents(get_template_directory().'/assets/fonts/icon_couch.svg');?>
      </div>
      There's nothing going on today!
    </div>
		<dateitem v-for="item in today" :item="item" />
  </div>
  <div class="tomorrow-container" v-if="tomorrow.length > 0">
		<h2 class="tomorrow">Tomorrow</h2>
		<dateitem v-for="item in tomorrow"  :item="item" :date-class="tomorrow"/>
  </div>
	<div class="upcoming-container" v-if="upcoming.length > 0">
		<h2 class="tomorrow">Tomorrow</h2>
		<dateitem v-for="item in upcoming" :item="item" :date-class="tomorrow"/>
  </div>
	
</div>
