<!--removeIf(script)-->
<script type="text/javascript">
Vue.component('dateitem',{
  template: '#template-dateitem',
  props:["item","dateClass"]
})
</script>
<!--endRemoveIf(script)-->
<div class="item" :class="this.dateClass">
  <div class="date">
    <div class="dots" :class="this.dateClass">
      <div v-for="user in this.item.users" class="dot-cutter" :class="this.dateClass">
        <div class="dot" :class="this.dateClass" :style="{background-color:user.color">
          <div class="initial" :class="this.dateClass">{{user.firstname[0]}}</div>
        </div> 
      </div>
    </div>
    <div class="time" :class="this.dateClass">{{this.item.date}}</div> 
  </div>
  <div class="title" :class="this.dateClass">{{this.item.title}}</div>
</div>
