<!--removeIf(script)-->
<script type="text/javascript">
App.news = new Vue({
  template: '#template-news',
  data: {
    newsItems: [],
    failed: false,
    backgroundInterval: null,
    relativeInterval: null,
    switchInterval: null,
    current: 0
  },
  mounted: function() {
    this.backgroundUpdate();
    this.backgroundInterval = setInterval(function(){
      this.backgroundUpdate();
    }.bind(this),(1000*60)*5)
    this.relativeInterval = setInterval(function(){
      this.updateRelative();
    }.bind(this), (1000*30))
    this.switchInterval = setInterval(function(){
      if(this.current == this.newsItems.length-1) {
        this.current = 0;
      } else {
        this.current++;
      }
    }.bind(this),(1000*7))
  },
  methods: {
    backgroundUpdate: function() {
      $.ajax({
        type: 'GET',

        url:App.templateURL+'/test-news.php',
        success: function(data){
          this.failed = false;
          var newNews = [];
          $(data).find('item').each(function(i,e){

              var date = new Date($(e).find('pubDate').text())
              newNews.push({
                title: $(e).find('title').text(),
                date: date,
                relative: hoursAgo(date)
              })
          }.bind(this));
          newNews.sort(function(a, b) {
              a =a.date;
              b = b.date;
              return a>b ? -1 : a<b ? 1 : 0;
          });
          this.newsItems = newNews;
        }.bind(this),
        error: function(data) {
          if(!this.failed) {
            this.failed = new Date();
          }
        }.bind(this)

      });

    },
    updateRelative: function(){
      this.newsItems.forEach(function(e,i){
        this.newsItems[i].relative = hoursAgo(e.date)
      }.bind(this));
    }
  }
});
</script>
<!--endRemoveIf(script)-->
<div class="news module shrink">
  <div v-for="(item,key) in newsItems" class="item" :class="{active: key == current}">

    <div class="title">{{item.title}}</div>
    <div class="time">{{item.relative}}</div>
  </div>
  <fail-pill :failed="this.failed"/>
</div>
