<!--removeIf(script)-->
<script type="text/javascript">
App.stocks= new Vue({
  template: '#template-stocks',
  data: {
    stockItems: [],
    failed: false
  },
  mounted: function() {
    this.backgroundUpdate();
    this.backgroundInterval = setInterval(function(){
      this.backgroundUpdate();
    }.bind(this),(1000*60)*10)

  },
  filters: {
    round: function (value) {
      if(value < 100 ) {
       return value;
      } else {
        return Math.round(value);
      }
    }
  },
  methods: {

    backgroundUpdate: function() {
      $.ajax({
        type: 'GET',
       /* dataType:"xml",*/
        url:App.templateURL+'/stockgetter.php',
        success: function(data){

          var newStocks = [];
          var numerator = 0;
          
          stockItems.forEach(function(e,i){
            
            newStocks.push({
              title: e.title,
              last:parseFloat(e.last),
              change:parseFloat(e.change)
            });

          });
          this.failed = false;
          this.stockItems = newStocks;

        }.bind(this),
        error: function(data) {
          if(!this.failed) {
            this.failed = new Date();
          }
        }.bind(this)

      });

    }
  }
});
</script>
<!--endRemoveIf(script)-->
<div class="module stocks clearfix">
  <div class="stock" v-for="stock in stockItems">
    <div class="title">
      {{stock.title}}
    </div>
    <div class="last">
      ${{stock.last | round}}
    </div>
    <div class="change" v-if="!isNaN(stock.change) && stock.change !== 0">
      <div class="arrow" :class="{rotate: stock.change < 0}">
        <?= file_get_contents(get_template_directory().'/assets/fonts/icon_arrow_up.svg');?>
      </div>
      {{stock.change | round}}
    </div>
    <div class="change" v-if="isNaN(stock.change) || stock.change === 0">
      &mdash;&mdash;
    </div>


  </div>
  <fail-pill :failed="this.failed"/>
</div>
