<!--removeIf(script)-->
<script type="text/javascript">
App.subway= new Vue({
  template: '#template-subway',
  data: {
    trains: [
      {
        name: 'L',
        status: 'GOOD SERVICE'
      },
      {
        name: 'M',
        status: 'GOOD SERVICE'
      }
    ],
    failed: false
  },
  mounted: function() {
    this.backgroundUpdate();
    this.backgroundInterval = setInterval(function(){
      this.backgroundUpdate();
    }.bind(this),(1000*60)*5)

  },
  methods: {

    backgroundUpdate: function() {
      $.ajax({
        type: 'GET',

        url:App.templateURL+'/webproxy.php?id=subway',
        success: function(data){
            this.failed = false;
            var newTrains = [];

            var lines = $(data).find('subway line');
            $(lines).each(function(i,e){
              var name = $(e).find('name').text();
              var status = $(e).find('status').text();
              if(name == 'L' || name == 'BDFM') {
                if(name == 'BDFM') {
                 name = 'M'
                }
                if(status !== 'GOOD SERVICE') {
                 var text = $(e).find('text').text();
                 if(!text.includes('['+name+']')) {
                   status = 'GOOD SERVICE';
                 }
                }
                newTrains.push({
                  name: name,
                  status: status
                });

              }
            });
            this.trains = newTrains;

        }.bind(this),
        error: function(data) {
          if(!this.failed) {
            this.failed = new Date();
          }
        }.bind(this)

      });

    }
  }
});
</script>
<!--endRemoveIf(script)-->
<div class="module subways clearfix">
  <div class="line" v-for="train in trains">
    <div class="icon" :class="['line-'+train.name, { danger:train.status !== 'GOOD SERVICE'}]">
      <div class="letter" :class="'line-'+train.name.toLowerCase()">{{train.name}}</div>
    </div>
    <div class="status" :class="{invisible: train.status === 'GOOD SERVICE'}">
      {{train.status}}
    </div>
  </div>
  <fail-pill :failed="this.failed"/>
</div>
