<!--removeIf(script)-->
<script type="text/javascript">
Vue.component('todolist',{
  template: '#template-todolist',
  data: function(){
    return {
      listItems: App.initialTodos,
      failed: false
    }
  },
  mounted: function() {
    this.backgroundUpdate();
    setInterval(function(){
      this.backgroundUpdate();
    }.bind(this),(1000*60)*5)
  },
  methods: {
    backgroundUpdate: function() {
      $.ajax({
        type: 'POST',
        dataType: 'json',
        url:App.wpAjaxURL ,
        data: {
            'action': 'backgroundupdate'
        },
        success: function(data){
          this.failed = false;
          this.listItems = data.listItems;
          console.log('todolist updated');
        },
        error: function(data) {
         if(!this.failed) {
          this.failed = new Date(); 
         }
        }
      }.bind(this));
    }
  }
});
</script>
<!--endRemoveIf(script)-->
<div class="todolist module">
  <div class="item" v-for="item in listItems">
    <div class="box":class="{checked:item.checkedBy}"></div>
    <div class="title">{{item.title}}</div>
  </div>
</div>
