<!--removeIf(script)-->
<script type="text/javascript">
App.todolist = new Vue({
  template: '#template-todolist',
  data: {
    listItems: App.initialTodos,
    failed: false,
	lastCheck: Math.floor(Date.now() / 1000)
  },
  mounted: function mounted() {
    this.backgroundUpdate();
    setInterval(function () {
      this.backgroundUpdate();
    }.bind(this), 1000 * 60 * 2);
  },
  methods: {
    backgroundUpdate: function backgroundUpdate() {
      $.ajax({
        type: 'GET',
        dataType: 'json',
        url: App.templateURL + '/listretriever.php?ts='+this.lastCheck,

        success: function (data,status,xhr) {
			this.failed = false;
			this.lastCheck = Math.floor(Date.now() / 1000);
			if(xhr.status === 304) {
				
				return false;
			}
			this.listItems = data.listItems;
        }.bind(this),
        error: function (data) {
          if (!this.failed) {
            this.failed = new Date();
          }
        }.bind(this)

      });
    }
  }
});
</script>
<!--endRemoveIf(script)-->
<div class="todolist module">
  <div class="item" v-for="item in listItems" :class="{unchecked:item.checkedBy === false}">
    <div class="box"
	 :style="{
		 backgroundColor:(item.checkedBy) ? item.checkedBy.color : null,
		 borderColor: (item.checkedBy) ? null : item.checkedBy.color
		 }" ></div>
    
    <div class="title">{{item.title}}</div>
  </div>
  <fail-pill :failed="this.failed"/>
</div>
