<!--removeIf(script)-->
<script type="text/javascript">
App.weather = new Vue({
  template: '#template-weather',
  data: {
    temp: '108',
    feels: '88',
    symbol: 'sunny',
    symbolSVG: '',
    forecast: 'Showers this evening becoming a steady rain overnight. Snow or sleet may mix in late. Low 38F.',
    precip: '99',
    hi: '108',
    lo: '108',
    failed: false,
    backgroundInterval: null,
  },
  mounted: function() {
    this.backgroundUpdate();
    this.backgroundInterval = setInterval(function(){
      this.backgroundUpdate();
    }.bind(this),(1000*60)*20)

  },
  methods: {
    successUpdate: function(newValues) {
      this.failed = false;
      this.symbolSVG = '';
      this.temp = newValues.temp;
      this.feels = newValues.feels;
      this.forecast = newValues.forecast;
      this.precip = newValues.precip;
      this.hi = newValues.hi;
      this.lo = newValues.lo;
      this.symbol = newValues.symbol;
      $.ajax({
        type: 'GET',
        dataType: 'html',
        url:App.templateURL+'/assets/fonts/icon_weather_'+newValues.symbol+'.svg',
        success: function(data) {

        this.symbolSVG = data


        }.bind(this)
      })
    },
    backgroundUpdate: function() {
      var success = 0;
      var newValues = {};
      var svg = '';

      $.ajax({
        type: 'GET',

        url:App.templateURL+'/test-conditions.php',
        success: function(data){
          success++;

          var partlyCloudies = ['partlysunny', 'mostlycloudy', 'partlycloudy', 'mostlysunny'];
          var current = data.current_observation;
          var icon = current.icon;
          //REMOVE NIGHT
          icon = icon.replace('nt_', '');
          //REMOVE CHANCE
          icon = icon.replace('chance', '');
          //Consolidate things
          if ($.inArray(icon, partlyCloudies) !== -1) {
            icon = 'partlycloudy';
          }
          if (icon == 'clear') {
            icon = 'sunny';
          }
          if (icon == 'flurries') {
            icon = 'snow';
          }

          //BRING BACK THE NIGHT
          if (current.icon == 'nt_clear' || current.icon == 'nt_sunny') {
            icon = 'moon';
          }
          if (icon == 'partlycloudy' && current.icon.indexOf('nt_') > -1) {
            icon = 'mooncloud';
          }

          newValues.temp = Math.floor(current.temp_f);
          newValues.symbol = icon;
          newValues.feels = Math.floor(current.feelslike_f);
          if(success == 2) {

            this.successUpdate(newValues)
          }

        }.bind(this),
        error: function(data) {
          if(!this.failed) {
            this.failed = new Date();
          }
        }.bind(this)

      });
      $.ajax({
        type: 'GET',

        url:App.templateURL+'/test-forecast.php',
        success: function(data){
          success++;
           var forecast = data.forecast;
          newValues.forecast = forecast.txt_forecast.forecastday[0].fcttext,
          newValues.precip = forecast.txt_forecast.forecastday[0].pop,
          newValues.hi =  Math.floor(forecast.simpleforecast.forecastday[0].high.fahrenheit),
          newValues.lo = Math.floor(forecast.simpleforecast.forecastday[0].low.fahrenheit);
          if(success == 2) {
            this.successUpdate(newValues)
          }

        }.bind(this),
        error: function(data) {
          if(!this.failed) {
            this.failed = new Date();
          }
        }.bind(this)

      });

    }
  }
});
</script>
<!--endRemoveIf(script)-->
<div class="module weather ">

  <div class="weather-icon" :class="this.symbol" v-html="this.symbolSVG">

  </div>
  <div class="temp">{{this.temp}}&deg;</div>
  <div class="feels">{{this.feels}}&deg;</div>
  <div class="forecast">{{this.forecast}}</div>
  <div class="precip">{{this.precip}}%</div>
  <div class="hilo">
    <span class="hi">{{this.hi}}&deg;</span> / <span class="lo">{{this.lo}}&deg;</span>
  </div>

  <fail-pill :failed="this.failed"/>
</div>
